.bg-img {
    background-size: cover !important;
    background-image: url("./assets/images/tweezer-banner.avif");
}

.primary {
    background-color: #ff5200!important;
}

.primary:hover {
    background-color: #FF7433 !important;
}

.primary-link {
    color: #ff5200!important;
}

.primary-link:hover {
    color: #FF7433 !important;
}

.active {
    color: #FF7433 !important;
    cursor: pointer;
}

.option:hover {
    color: #FF7433 !important;
    cursor: pointer;
    transition: 0.15s;
    transition-timing-function: ease-in-out;
}

.logo {
    width: 4rem;
    height: auto;
}

.home-header:not(.header-text) {
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}

.center-feed {
    overflow: scroll !important;
    height: 100vh !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.center-feed::-webkit-scrollbar {
  display: none;
}

.border {
    padding: 0 !important;
    resize: none !important;
    outline: 0px none !important;
    
}
